:root {
  --main: rgb(28, 202, 28);
  --dark: rgb(26, 179, 26);
  --light: rgb(32, 252, 32);

  --modal-index: 100001;
}

* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background: #ddd;
}

a {
  text-decoration: none;
  display: block;
  width: fit-content;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* btns */
button {
  border: 0;
  cursor: pointer;
  background: none;

  &[disabled] {
    border-color: gray !important;
    pointer-events: none !important;
    color: #ddd !important;
    background: gray !important;
  }
}

.links {
  text-decoration: underline;
  font-size: inherit;
  color: var(--dark);
}

.scroll-to-top-btn {
  --right-offset: 40px;

  bottom: 40px;
  right: var(--right-offset);
  transition: 0.3s;
  translate: calc(100% + var(--right-offset));
  aspect-ratio: 1;

  &.active {
    translate: 0;
  }

  & svg {
    font-size: 25px;
    fill: #fff;
  }
}

@media (max-width: 767px) {
  .scroll-to-top-btn {
    bottom: 20px;
    --right-offset: 20px;

    & svg {
      width: 20px;
    }
  }
}

/* end btns */

/* inputs */

.input-holder label::after {
  content: ":";
  font-weight: bold;
}

textarea,
input {
  border: 1px solid var(--dark) !important;
  caret-color: var(--dark);

  &::placeholder {
    transition: opacity 0.3s;
  }

  &:focus {
    border-color: var(--light) !important;

    &::placeholder {
      opacity: 0;
    }
  }

  &.red {
    border-color: red !important;
  }

  &[disabled] {
    border-color: gray !important;
    cursor: not-allowed;
  }
}

textarea {
  height: 150px;
  resize: vertical;
}

/* endinputs */

/* home page */
.home-page-title {
  width: fit-content;
}

/* post card */

.posts-list > * + * {
  margin-top: 40px;
}

.post-card {
  overflow-wrap: break-word;

  & > * + * {
    margin-top: 10px;
  }
}

.post-owner-img > * {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50%;
}

.post-owner-names {
  word-break: break-word;
}

.post-owner-username {
  font-size: 12px;
  color: rgb(158, 158, 158);
}
.posted-from-time-ago {
  font-size: 14px;
}

@media (max-width: 450px) {
  .post-owner {
    flex-direction: column;
    gap: 5px !important;
    align-items: flex-start !important;
    margin-bottom: 18px;

    & .post-owner-right-side-btns-holder {
      width: 100%;

      & > * {
        flex: 1;
      }
    }
  }
}

/* comments on post */
.add-comment-form {
  & input {
    flex: 1;
    border-right: 0;
    border-radius: 4px 0 0 4px;
  }

  & button {
    border-radius: 0 4px 4px 0;
  }
}

@media (max-width: 285px) {
  .add-comment-form {
    flex-direction: column;
    border: 1px solid var(--main);
    padding: 5px;
    border-radius: 4px;

    & input {
      border-right: 1px solid var(--dark);
      border-radius: 4px 4px 0 0;
      border-bottom: 0;
    }

    & button {
      border-radius: 0 0 4px 4px;
      padding-block: 7px;
    }
  }
}

.comment {
  &:nth-of-type(odd) {
    background: #ddd;
  }

  & + .comment {
    margin-top: 10px;
  }
}

/* app modal */

.app-modal-overlay {
  inset: 0;
  z-index: calc(var(--modal-index) - 1);
  transition: 0.3s;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.app-modal {
  z-index: var(--modal-index);
  top: 30px;
  transition: 0.3s;
  translate: -50% -20px;
  opacity: 0;

  &.active {
    translate: -50% 0px;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .app-modal {
    width: 90% !important;
  }
}

.app-modal-form > * + * {
  margin-top: 10px;
}

/* top message */
.top-message {
  top: 15px;
  z-index: calc(var(--modal-index) + 1);
  user-select: none;
  transition: 0.3s;

  translate: -50% -15px;
  opacity: 0;

  &.active {
    translate: -50% 0px;
    opacity: 1;
  }
}

/* profile page */
.personal-info {
  font-size: 19px;
  word-break: break-word;
}

.profile-img {
  & img {
    width: 200px;
  }

  & svg {
    font-size: 60px;
  }
}

@media (max-width: 360px) {
  .personal-info {
    font-size: 16px;
  }

  .user-posts h2 {
    font-size: 20px;
    word-break: break-word;
  }
}
@media (max-width: 200px) {
  .personal-info {
    font-size: 14px;
  }
}
